#nav-table {width: 800px;}
#Saif-Bio {width: 800px;}
#Saif-Apps {width: 800px;}
#Saif-Javascript {width: 800px;}
#Saif-Home {width: 800px;}
#photo-table {width: 800px;}
#Saif1 {width: 200px;}
#Saif2 {width: 200px;}
#JCole {width: 200px;}
#Rap {width: 200px;}
body {background-color: rgb(153, 204, 255);}
body {background-image: <img src="background.png">;}
